body{
    margin:0;
    font-family: Arial;
    background:#f4f6f9;
}

/* LOGIN */

.login-body{
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}

.login-container{
    background:white;
    padding:40px;
    width:350px;
    border-radius:10px;
    box-shadow:0 0 10px rgba(0,0,0,0.1);
}

.login-container h1,
.login-container h2{
    text-align:center;
    color:#0b5ed7;
}

input,
select{
    width:100%;
    padding:12px;
    margin-top:10px;
}

button{
    width:100%;
    padding:12px;
    background:#0b5ed7;
    color:white;
    border:none;
    margin-top:15px;
    cursor:pointer;
}

.btn-registro{
    display:block;
    text-align:center;
    margin-top:15px;
    text-decoration:none;
}

/* DASHBOARD */

.topbar{
    background:white;
    display:flex;
    justify-content:space-between;
    padding:15px 30px;
    border-bottom:1px solid #ccc;
}

.contenedor{
    display:flex;
}

.sidebar{
    width:250px;
    background:white;
    height:100vh;
    padding:20px;
    border-right:1px solid #ccc;
}

.sidebar ul{
    list-style:none;
    padding:0;
}

.sidebar li{
    margin:15px 0;
}

.sidebar a{
    text-decoration:none;
    color:#333;
}

.contenido{
    flex:1;
    padding:30px;
}

.card{
    background:white;
    padding:20px;
    border-radius:10px;
}

/* TABLAS */

table{
    width:100%;
    border-collapse:collapse;
    background:white;
}

th, td{
    padding:15px;
    border:1px solid #ddd;
}

.form-container{
    width:400px;
    margin:50px auto;
    background:white;
    padding:30px;
}